<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchor tag</title>
</head>
<body>
    <center>
        <h1>HTML Anchor tag</h1>
        <p>the html tag is used to link the other pages. html achor tags are the the hyperlink</p>
    </center>
    <hr>
    <a href="https://edu.gcfglobal.org/en/basic-html/about-html/1/" style="text-decoration: none;">about</a><br>
    <a href="https://www.google.com/">vISIT TO GOOGLE</a>

    <h1>opening linked website in different tabs</h1>
    <a href="https://www.facebook.com" target="_blank">visit to facebook</a>

    <H1>CALLING USING A TAG OR Hyperlink</H1>
    <a href="tel:+919019540562">call to know more</a>

    <h1>sending mail using a tag</h1>
    <a href="mailto:nivedithatsurs2001@gmail.com">send a email</a>
    
    
</body>
</html>