<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> personal letter</title>
</head>
<body>
    <h1><strong>From</strong></h1>
             <h2><address>chaithanya,<br>#347 adharsha layoutbr
                vijaynagar<br>
                banglore</address> </h2>

                <h1><strong>To</strong></h1>
                <h2><address>The Principle<br>Maharani science college<br>
                    mysore.571422</address></h2>

                <h1><strong><small>Respected sir</small></strong></h1>


                <h2><b></b>Subject   : Requesting letters to issue my study certificate.</h2>
                </h2>
                              <p><h3>My name is chaithanya  study of final bsc  in your college.i would like to mention that,i need of study certificate for higher education.Please request to issue my certificate..... </h3></p>
                                 
                                                 <center><h1>Thanking you</h1></center> 
                
<h1><u>Place</u>:<small><em>Mysore</em></small></body></h1>
<h1><u>Date</u>:<small><em>23/11/2023</em></small></h1>

   <h1>signature</h1> 
<small>chaithanya</small>
</body>
</html>