<html>
    <head>
<title>Image tag</title>
    

    </head>
    <body>
        <center>
            <h1>IMAGE TAG...</h1>
            <p>img tag is used to display the image in our website</p>

        </center>
        <hr>
        <h1>Default image</h1>
        
        <h1>Image with width and height</h1>
        <img src="../MNC.JPG" width="400" height="400">
        <h1>image with % for width and height</h1>
        <img src="../MNC.JPG" width="100%" height="100%"
        <h1>image with alt attribute</h1>
        <img src="../MNC.JPG" alt="this is the image">
        <h1>image with alt attribute with wrong image path </h1>
        <img src="../MNC.JPG" alt=""this is the home image">

        <h1>displaying the online images using image url</h1> 

        <img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt=""this is the online image">
    </body>
</html>