<html>
    <head>
        <title>Nested ol list</title>
    </head>
    <body>
        <center>
            <h1>Nested ordered list</h1>
            <p>Nested ordered list is defines ordered list inside the another list </p>

        </center>
        <h1>Nested ordered list example</h1>
        <ol>
            <li>
                <h1>animals</h1>
                <ol type="a">
                        <li>animal1</li>
                        <li>animal2</li>
                        <li>animal3</li>                
                        <li>animal4</li>
                        <li>animal5</li>
                 </ol>
            </li>
            <li>this is the nested list</li>
            <li>
                <h1>Birds</h1>
                <ol type="a">
                    <li>Bird1</li>
                    <li>Bird2</li>
                    <li>
                        <ol type="i">
                            <li>b1</li>
                            <li>b1</li>
                            <li>b1</li>
                            <li>b1</li>


                        </ol>
                    </li>
                    <li>Bird4</li>
                    <li>Bird5</li>
                    <li>
                        <h1>this is a image</h1>
                        <img src="../MNC.JPG" alt="">
                    </li>
                    <li>thi is last list item</li>


                </ol>
            </li>

            
                
                



            
        </ol>
    </body>
</html>