<html>
    <head>
        <title>list tags</title>
        </head>
        <body>
            <center>
                <h1>HTML Lists</h1>
                <p>There are 3  types of lists</p>
                <p>lists are used to display or group the related items.</p>
            
            </center>
            <pre>
                1) Oredered or number lists(using ol tag )
                2) Unordered list or bullet list(using ul tag)
                3)Description list (using dl list.)

                <p>all theses list is followed by li tag</p>
            </pre>

            <hr>
            <h1>Ordered lists</h1>
            <ol>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>BOOTSTRAP</li>
                <li>REACTJS</li>
            </ol>

            <hr>
            <h1>Ordered list or Number list types</h1>

            <p>capital Roman number(I, II, III,....)</p>
            <p>Capital Numeric Number(1, 2, 3,...)</p>
            <p>small Roman number(i, ii, iii,...)</p>
            <p>capital alphabet(A, B, C...)</p>
            <p>small alphabet(a,b,c...)</p>

            <h1>Example Capital Roman number</h1>
            <ol type="I">
                
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>BOOTSTRAP</li>
                    <li>REACTJS</li>
                </ol>

                <h1>Example small Roman number</h1>
            <ol type="i">

                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>BOOTSTRAP</li>
                    <li>REACTJS</li>
                </ol>

                <h1>Example capital alphabet</h1>
            <ol type="A" >

                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>BOOTSTRAP</li>
                    <li>REACTJS</li>
                </ol>


                <h1>Example small alphabet</h1>
            <ol type="a">

                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>BOOTSTRAP</li>
                    <li>REACTJS</li>
                </ol>


                <h1>Example number</h1>
            <ol type="1" start="5">

                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>BOOTSTRAP</li>
                    <li>REACTJS</li>
                </ol>




                

                

                
                

                

            
                                

        </body>


</html>