<html>
    <head>
        <title>poem</title>
    </head>
    <body>
        <h1>poem with pre tag </h1>
        <pre>
           
dharaNi manDala madhyadoLage
mereyutiha karNATa dEshadOLiruva
kALinganemba gollana pariyanentu pELvenu

eLeya mAvina marada kELage | udayakAladoLeddu gollanu |
koLalnUduta golla gauDanu | nadiya snAnava mAdi bandu |
baLasi ninda turugaLannu | mudadi tilakava haNeyoLiTTu |
baLige karedanu harushadi | ? ? |

gange bAre gauri bAre
tungabhadre tAyi bAre
puNyakOTi nInu bArE
endu gollanu karedanu
        </pre>
    </body>
</html>