<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body style="color:black; background-color:violet;">
    <center>
        <h1>LIST THE BIRDS NAME</h1>
    </center>
    <h1>BIRDS
    </h1>
    <OL type="1">
        <h2 style="color:white;">        
        <LI>HEN</LI>
        <LI>PEACOCK</LI>
        <LI>RABBIT</LI>
        <LI>PARROT
            <OL TYPE="i">
                <h1>ANIMALS</h1>
                <LI>DOG</LI>
                <LI>CAT</LI>
                <LI>MONKEY</LI>
                <LI>COW</LI>
                <LI>OX</LI>
                <img src="../project/elephant.jpg" alt="">

            </OL>
        </LI>
        <LI>PIGEON</LI>
        </h2>

    </OL> 
    
</body>
</html>