<HTML>
    <head>
        <title>youtube</title>
    </head>
    <body>
        <center><b>YOU TUBE</b></center>
        <br>
        
       
        <marquee><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></marquee>
        <marquee><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></marquee>
        <hr>
        <marquee behavior="scroll" direction="right" scrollamount="10" bgcolor="green" ID="my marquee"><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></marquee>
        <hr>
  
   <marquee behavior="slide" direction="left"><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></marquee>
   <marquee behavior="alternate" direction="left"><iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/bh5GqSMD9jY?si=be4B-du-gzr4KltN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></marquee>
        <script>
         
         document.getElementById("my marquee").onmouseover = function(){
             document.getElementById('my marquee').stop();
             document.getElementById('my marquee').style.color = "white";
            document.getElementById('my marquee').style.background = "black";
         }
         document.getElementById("my marquee").onmouseleave = function(){
            document.getElementById('my marquee').start();
            document.getElementById('my marquee').style.color= "black";
            document.getElementById('my marquee').style.background="green";
        }
    </script>

             
     
         
        
    </body>
   
    
</HTML>