<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subject list</title>
</head>
<body>
    <center>SUBJECT TAGS</center>
    <h1>Example capital roman number</h1>
    <ol type="I">
        <li>Kannada</li>
        <li>English</li>
        <li>mathematics</li>
        <li>physics</li>
        <li>computerscience</li>
        <li>biology</li>
    </ol>
    <hr>

    <h1>Example small romAn number</h1>
    <ol type="i">
        <li>Kannada</li>
        <li>English</li>
        <li>mathematics</li>
        <li>physics</li>
        <li>computerscience</li>
        <li>biology</li>

    </ol>
    <hr>

    <h1>Example capital alphabet</h1>
    <ol type="A">
        <li>Kannada</li>
        <li>English</li>
        <li>mathematics</li>
        <li>physics</li>
        <li>computerscience</li>
        <li>biology</li>

    </ol>
    <hr>

    <h1>Example small alphabet</h1>
    <ol type="a">
        <li>Kannada</li>
        <li>English</li>
        <li>mathematics</li>
        <li>physics</li>
        <li>computerscience</li>
        <li>biology</li>
    </ol>
    <hr>

    <h1>Example number</h1>
    <ol type="1" start="10">
        <li>Kannada</li>
        <li>English</li>
        <li>mathematics</li>
        <li>physics</li>
        <li>computerscience</li>
        <li>biology</li>

    </ol>
    
</body>
</html>