<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anchor tag</title>
</head>
<body>
    <center>
        <H1>HTML  ANCHOR TAG</H1>
        <hr>
        
    </center>
    <a href="https://en.wikipedia.org/wiki/CSS" style="text-decoration: none;">about</a><br>
    <a href="https://www.instagram.com/" style="text-decoration: none;">visite to instagram</a>

<h1>opening linked website in diffrent tabs</h1>
    <a href="https://web.telegram.org/a/" target="self">visit to telegram</a></a><br><br>


    <H1>CALLING USING A TAG OR Hyperlink</H1>
    <a href="tel:9741237190">call to know more</a><br><br>

    <h1>sending mail using a tag</h1>
    <a href="mailto:nivedithaurs@gmail,com">send a mail</a>
    
</body>
</html>