<html>
    <head>
        <title>description list</title>
    </head>
    <body>
        <center>
            <h1>Discription list</h1>
        </center> 
        <hr>
        <dl>
            <dt><b>India</b>
            </dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quod consectetur, impedit et consequatur rerum deleniti cupiditate tenetur magni tempore rem accusamus voluptas voluptatibus officiis minima velit pariatur soluta molestiae.</dd>
            <br>

            <dt><b>HTML</b></dt>
            <dd>Hyper text markup language</dd>
            <br>
            <dt><b>CSS</b></dt>
            <dd>Cascading style sheets</dd>

        </dl>
    </body>
</html>