<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HTML FIGURE TAG</h1>
        <p>figure tag is used to group the related images.</p>
    </center>
    <hr>
    <figcaption>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem doloribus numquam necessitatibus dolor laudantium aliquam iste. Architecto quam voluptate quas tenetur odit aspernatur eius dolore accusantium laudantium corrupti, reiciendis nemo repellat consectetur animi, quod in? Debitis quibusdam accusamus autem iste magnam iure animi non eum enim hic eius vero ipsam ea fugit amet expedita, aspernatur veritatis nam explicabo esse, ut, reiciendis at. Vel accusamus delectus modi maiores eaque quia molestias voluptatibus nulla vero, quod necessitatibus quas iusto in alias rem voluptates! Eius nulla qui dolore voluptas ad, necessitatibus similique sed perspiciatis blanditiis enim itaque deleniti officia esse facilis ullam!
    </figcaption>
    <figure>
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        <img src="../image1.jpg" alt="" width="200">
        
        

        <input type="image" src="../image1.jpg" alt="image" width="200">
        <figcaption>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, expedita doloribus! Dolores tempore ad facilis odio inventore cumque sed eos quo iste? Dolore modi fugit expedita? Odit error illum eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ex dolore eum illum eligendi tenetur laudantium optio beatae expedita, eaque modi quos obcaecati minus libero, aspernatur at sunt rerum in quaerat unde! Dicta distinctio modi quaerat voluptate quo, nisi a esse aliquid, dolorem atque eligendi dolorum facere temporibus veniam facilis.</figcaption>
    </figure>
</body>
</html>
