<html>
    <head>
        <title>Form Tags</title>
    </head>
    <body>
        <center>
            <h1>Form Tags...!</h1>
        </center>
        <hr>
        <h1>Form componments Form...!</h1>
        <form  autocomplete="off">
            <fieldset>
                <legend>Username</legend>
                <lebel for="fname">Frist Name</lebel>
                <INPUT type="text" placeholder="Enter First Name" name="name" id="fname"></INPUT>
                <label for="lname">Last name</label>
                <input type="text" placeholder="Enter Last Name" name="name" id="lname">
            </fieldset>
            <fieldset>
                <legend>Buttons</legend>
                <button type="submit">Submit</button>
                <button type="reset">reset</button>
                <button type="button">Button</button>
                <input type="Submit" value="input submit">
                <input type="Reset" value="input reset">
                <input type="Button" value="input button">
            </fieldset>
            <fieldset>
                <legend>Checkboxes</legend>
                <H3>Choose intrested Languages</H3>
                <input type="checkbox" value="Kannada" name="Kannada" id="kannada">
                <label for="Kannada">kannada</label><br>
                <input type="checkbox" value="English" name="English" id="English">
                <label for="English">English</label><br>
                <input type="checkbox" value="Hindi" name="Hindi" id="Hindi">
                <label for="Kannada">Hindi</label><br>
                </fieldset>
                <fieldset>
                    <legend>Radioboxes</legend>
                    <h3>Choose Gender</h3>
                    <input type="Radio" name="a" value="female" id="femel">
                    <label for="female">female</label>
                    <input type="Radio" name="a" value="male" id="male">
                    <label for="male">male</label>
                    <input type="Radio" name="a" value="other" id="other">
                    <label for="female">other</label>
                    </fieldset>
                    <fieldset>
                        <legend>email</legend>
                        <input type="email" placeholder="Enter email" required>
                     </fieldset>
                     <fieldset>
                        <legend>Password</legend>
                        <input type="pasword" required placeholder="enter secret number">
                     </fieldset>
                     <fieldset>
                        <legend>datetime-local</legend>
                        <input type="datetime-local" name="" id="">
                     </fieldset>
                     <fieldset>
                        <legend>image</legend>
                        <input type="search" name="" id="" placeholder="search for somthing...">
                     </fieldset>
                     <fieldset>
                        <legend>image</legend>
                        <input type="image" src="../image1.jpg" alt="facebook">
                     </fieldset>
                     <fieldset>
                        <legend>file</legend>
                        <label for="file">select the image</label>
                        <input type="file" name="" id="">

                     </fieldset>

                     <form >
                        <fieldset>
                            <legend>image</legend>
                            <input type="url" name="" id=" " placeholder="enter by url">
                        </fieldset>
                        <button type="submit">submit</button>
                     </form>
                     <fieldset>
                        <legend>range</legend>
                        <input for="range" name="" id="" min="" max="" value="60">
                     </fieldset>
                     <fieldset>
                        <numberlegend>month</numberlegend>
                        <input type="month" name="" id="">
                     </fieldset>
                     <fieldset>
                        <legend>week</legend>
                        <input type="week" name="" id="">
                     </fieldset>
                     <fieldset>
                        <legend>tel</legend>
                        <label for="tel" name="phone number" id="tel" placeholder="enter ypur phone number"></label>
                     </fieldset>
                     <fieldset>
                        <legend>number</legend>
                        <input type="number" name="" id="" placeholder="enter quantity">
                     </fieldset>
                     <fieldset>
                        <legend>time</legend>
                        <label for="time"></label>
                     </fieldset>




                
        </form>
    </body>
</html>