<html>
    <head>
        <title></title>
    </head>
    <body>
        <center>
            <h1>table with attributes</h1>
        </center>
        
        <table border="1" cellpadding="15" cellspacing="0">
            <tr>
                <th>name</th>
                <th colspan="2"> Phone number</th>
                <th colspan="2">address</th>
                <th>salary</th>
                <th>pincode</th>
            </tr>
            <tr>
                <th></th>
                <th>personal number</th>
                <th>home number</th>
                <th>address1</th>
                <th>address2</th>
                <th></th>
                <th></th>

            </tr>
            <tr>
                <td>Chaithanya</td>
                <td>+912357888876</td>
                <td>+915467725757</td>
                <td>Banglore</td>
                <td>mysore</td>
                <td>45,000/-</td>
                <td>571422</td>
            </tr>
            <tr>
                <td>Chaithanya</td>
                <td>+912357888876</td>
                <td>+915467725757</td>
                <td>Banglore</td>
                <td>mysore</td>
                <td>45,000/-</td>
                <td>571422</td>
                </tr>


                <tr>
                    <td>Chaithanya</td>
                    <td>+912357888876</td>
                    <td>+915467725757</td>
                    <td>Banglore</td>
                    <td>mysore</td>
                    <td>45,000/-</td>
                    <td>571422</td>
                    </tr>

                    <tr>
                        <td>Chaithanya</td>
                        <td>+912357888876</td>
                        <td>+915467725757</td>
                        <td>Banglore</td>
                        <td>mysore</td>
                        <td>45,000/-</td>
                        <td>571422</td>
                        </tr>


                        <tr>
                            <td>Chaithanya</td>
                            <td>+912357888876</td>
                            <td>+915467725757</td>
                            <td>Banglore</td>
                            <td>mysore</td>
                            <td>45,000/-</td>
                            <td>571422</td>
                            </tr>

                
                
          
                
              
                
              
                
           
            


        </table>
    </body>
</html>