<html>
    <head>
        <title>Rowspan</title>
    </head>
    <body>
        <center>
            <h1>Rowspan attribute</h1>
        </center>
        <hr>
        <table border="1" cellspacing="0" cellpadding="15">
            <caption>Month</caption>
            <tr>
                <th rowspan="100">Months</th>
            </tr>
           
            
             <tr>
                <td rowspan="5">Jan</td>
            </tr>
                <tr> 
                    <th>week1</th>
                    </tr>
                    <tr>
                        <th>week2</th>
                    </tr>
                    <tr>
                        <th>week3</th>
                    </tr>
                    <tr>
                        <th>week4</th>
                    </tr>
                    
                  <tr>
                    <td rowspan="5">Fab</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>

                <tr>
                    <td rowspan="5">March</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">April</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">May</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Jun</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">July</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Agu</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Sep</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Oct</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Nov</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                

                <tr>
                    <td rowspan="5">Dec</td>
                </tr>
                <tr>
                    <th>week1</th>
                </tr>
                <tr>
                    <th>week2</th>
                </tr>
                <tr>
                    <th>week3</th>
                </tr>
                <tr>
                    <th>week4</th>
                </tr>
                
                
                
               
                
               
                
         </table>
    </body>
</html>