<html>
<head>
<title>IFRAMES</title>
<style>
        *{
                margin:0px;
                padding: 10px;
        }
        .frame{
                width: 100px;
                height: 100px;
                
        }
</style>
</head>
<body>
<center>
 <h1>HTML IFRAMES TAGS....!</h1>
<P>it is used for nested browser purpose</P>

        </center>
        <hr>
       
        
                <iframe  width="1000" height="600" src="https://www.youtube.com/embed/ds6VcmR3btE?si=lLaNnltvotwv2lw-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></>" frameborder="0"></iframe>
                <marquee><div class="frame">
                <iframe width="200" height="200" src="https://www.youtube.com/embed/ds6VcmR3btE?si=lLaNnltvotwv2lw-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
        </marquee>

        
<h1>This is End</h1>
<div class="videos">
</div>
</body>
</html>