<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paragraph</title>
</head>
<body style="background-color:#C3E2C2; font-family:Verdana, Geneva, Tahoma, sans-serif">

    <h1 style="background-color:chartreuse; width: fit-content; border-radius: 100px 0px 100px 15px;"> Brief reflection on killing the Christmas carp
    </h1>
    <p>
        BY MIROSLAV HOLUB
    </p>
    <pre style="background-color:aqua; color:black; font-size: 20px; border-radius: 100px;">
        You take a kitchen-mallet
        and a knife
        and hit
        the right spot, so it doesn’t jerk, for
        jerking means only complications and reduces profit.
        
        And the watchers already narrow their eyes, already admire the   
                    dexterity,
        already reach for their purses. And paper is ready
        for wrapping it up. And smoke rises from chimneys.
        And Christmas peers from windows, creeps along the ground
        and splashes in barrels.
        
        Such is the law of happiness.
        
        I am just wondering if the carp is the right creature.
        
        A far better creature surely would be one
        which—stretched out—held flat—pinned down—
        would turn its blue eye
        on the mallet, the knife, the purse, the paper,
        the watchers and the chimneys
        and Christmas,
        
        </pre>
        
       
        
        
        

    </pre>
    
</body>
</html>