<html>
    <head>
        <title>Row span</title>
    </head>
    <body>
        <center>
            <h1>ROWSPAN ATTRIBUTE </h1>
        </center>
        <hr>
        <table border="1" cellspacing="0" cellpadding="10">
            <tr>
                <th rowspan="5">students</th>
            </tr>
            <tr>
                <th>Sanjuu</th>
                <td>p</td>
            </tr>
            <tr>
                <th>preethi</th>
                <td>p</td>
            </tr>
            <tr>
                <th>nithya</th>
                <td>p</td>
            </tr>
            <tr>
                <th>devs</th>
                <td>p</td>
            </tr>
            <tr>
                <th rowspan="3">Phone numbers</th>
            </tr>
            <tr>
                <th>home number</th>
                <td>+917022152010</td>
            </tr>
            <tr>
                <th>phone number</th>
                <td>+91974123710</td>
            </tr>
            <tr>
                <th colspan="3">Presentation</th>
            </tr>
            <tr>
                <th>SI NO</th>
                <th>Name</th>
                <th>Marks</th>
            </tr>
            <tr>
                <td>01</td>
                <td>asha</td>
                <td>10</td>
            </tr>
            <tr>
                <td>02</td>
                <td>divya</td>
                <td>10</td>
            </tr>
            <tr>
                <td>03</td>
                <td>usha</td>
                <td>10</td>
            </tr>
            <tr>
                <td>04</td>
                <td>neha</td>
                <td>10</td>
            </tr>
            <tr>
                <td>05</td>
                <td>nayana</td>
                <td>10</td>
            </tr>
        </table>
    </body>
</html>