<HTML>
    <head>
        <title>form</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            *{
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
            
            li{
                display: flex;
                align-items: center;
            }
           
            
           
        </style>
    </head>
    <body>
        <UL>
            <LI>
                <i class="fa-solid fa-record-vinyl"></i>
                <li><h1><b>SBI</b></h1></li>
                <small>ONLINE</small>
                
                
                </LI>
                
                
               
                
                </div>
        
                <hr>
                <hr>
                <br>
        
                <div class="container">
                <h3>New User?Register Here/Activate(For Retail customers only)</h3>
                <br>
                <input type="text" placeholder="New User Registration">
                <button type="button">next</button>
                </div>
        
            
        </UL>
        
            
      
        
        
        
       
        
        
          
        
     
        
        
    
       
      
        
        
    

</ul>
    </div>
        </li>
    </body>
</HTML>