<html>
    <head>
        <title>Rowspan</title>
    </head>
    <body>
        <center>
            <h1>Rowspan attribute</h1>
        </center>
        <hr>
        <table border="1" cellspacing="0" cellpadding="15">
            <caption>JANUARY</caption>
           
            
             <tr>
                <td rowspan="35">JANUARY</td>
            </tr>
                 <TH>SUNDAY</TH>
                    <th>MONDAY</th>
                    
                    
                        <th>TUESDAY</th>
                    
                    
                        <th>WEDNESDAY</th>
                    
                    
                        <th>THURSDAY</th>
                        <TH>FRIDAY</TH>
                        <th>SATURDAY</th>
                    </tr>
                    <tr>
                        
                        
                    </tr>
                         
                            <th></th>
                            
                            
                                <th></th>
                            
                            
                                <th></th>
                            
                            
                                <th></th>
                                <TH></TH>
                                <th></th>
                            </tr>
                            <tr>
                                <th rowspan="8"></th>
                            </tr>
                            
        
                    
