<html>
    <head>
        <title>Table</title>

    </head>
    <body>
        <center>
            <h1>HTML TABLES.....!</h1>
            <P>This tag is used to arrange the data in the way of rows and colums in our webpages.</P>
        </center>
        <hr>
        <h1>This is a default table</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Register no</th>
                <th>marks</th>
                <th>address</th>
                <th>phone number</th>
            </tr>
            <tr>
                <td>john</td>
                <td>ms2011</td>
                <td>20</td>
                <td>banglore</td>
                <td>+917022152010</td>
            
            </tr>

            <tr>
                <td>john</td>
                <td>ms2011</td>
                <td>20</td>
                <td>banglore</td>
                <td>+917022152010</td>

            </tr>

            <tr>
                <td>john</td>
                <td>ms2011</td>
                <td>20</td>
                <td>banglore</td>
                <td>+917022152010</td>

            </tr>
            
            <tr>
                <td>john</td>
                <td>ms2011</td>
                <td>20</td>
                <td>banglore</td>
                <td>+917022152010</td>

            </tr>

            <tr>
                <td>john</td>
                <td>ms2011</td>
                <td>20</td>
                <td>banglore</td>
                <td>+917022152010</td>

            </tr>
            
            
            

        </table>
    </body>
</html>