<html>
    <head>
        <title>Table with attributes</title>
    </head>
    <body>
        
        <center>
            <h1>Table with table attributes (border,cellspacing, cellpadding.</h1>
        </center>
        <hr>
        <table  border="1" cellspacing="0" cellpadding="15" width="100%">
            <tr>
                <th>name</th>
                <th>Phone number</th>
                <th>Email address</th>
                <th>address</th>
                <th>home number</th>
                <th>pincode</th>
            </tr>
           
            <tr>
                <td>Chaithanya</td>
                <td>+9123578888</td>
                <td>student@gmail.com</td>
                <td>Banglore</td>
                <td>+02865435878</td>
                <td>571422</td>
            </tr>

            <tr>
                <td>Chaithanya</td>
                <td>+9123578888</td>
                <td>student@gmail.com</td>
                <td>Banglore</td>
                <td>+02865435878</td>
                <td>571422</td>
            </tr>

            <tr>
                <td>Chaithanya</td>
                <td>+9123578888</td>
                <td>student@gmail.com</td>
                <td>Banglore</td>
                <td>+02865435878</td>
                <td>571422</td>
            </tr>

            <tr>
                <td>Chaithanya</td>
                <td>+9123578888</td>
                <td>student@gmail.com</td>
                <td>Banglore</td>
                <td>+02865435878</td>
                <td>571422</td>
            </tr>


            <tr>
                <td>Chaithanya</td>
                <td>+9123578888</td>
                <td>student@gmail.com</td>
                <td>Banglore</td>
                <td>+02865435878</td>
                <td>571422</td>
            </tr>
         </table>
    </body>
</html>