
<html>
    <head> 
        <title> Time table</title>
    </head>
    <body> 
        <table border="1" cellspacing="0" cellpadding="15">
            <tr>
                <th colspan="5"> Time table </th>
            </tr>
            <tr>
                <th> mon</th>
                <th> Tue</th>
                <th> wed</th>
                <th> Thur</th>
                <th> Fri</th>
                
            </tr>
            <tr>
                <td> Science</td>
                <td> Maths</td>
                <td> Science</td>
                <td> Maths</td>
                <td> Arts</td>
            </tr>
            <tr> 
                <td> Social</td>
                <td> History </td>
                <td> English</td>
                <td> Social</td>
                <td> Sports</td>
            </tr>
            <tr> 
                <th colspan="5">  lunch </th>
            </tr>
            <tr> 
                <td> Science</td>
                <td> Maths</td>
                <td> Sciene</td>
                <td> Maths</td>
                <td> Project</td>
            </tr>
            <tr>
                <td> Social</td>
                <td> HIstory</td>
                <td> English</td>
                <td> Social</td>
                <td> Project</td>
            </tr>
        </table>
    </body>
</html>
