<HTML>
    <head>
        <title> unordered list </title>
    </head>
    <body>
        <center>
            <h1>unordered lits or bullet lists(using UL tag...!)</h1>
        </center>
        <h1>examples</h1>
        <h3>Default UL lists</h3>
        <ul>
            <li>HTML</li>
            <LI>CSS</LI>
            <li> JSIRCLE</li>
            <LI>BOOTSTRAP</LI>
            <LI>JS</LI>
            <li>REACT JS</li>
        </ul>
           <h3>UL WITH ATTRIBUTES</h3>
        <hr>
        <H1>Un ordered list or bullet list type </H1>
        <p>disc</p>
        <p>square</p>
        <p>none</p>
        <p>circle</p>
        
        <ul type="disc">
            <li>HTML</li>
            <LI>CSS</LI>
            <LI>BOOTSTRAP</LI>
            <LI>JS</LI>
            <li>REACT JS</li>
        </ul>
        <hr>

        <ul type="square">

            <li>HTML</li>
            <LI>CSS</LI>
            <LI>BOOTSTRAP</LI>
            <LI>JS</LI>
            <li>REACT JS</li>
        </ul>
<hr>

        <ul type="none">
            <li>HTML</li>
            <LI>CSS</LI>
            <LI>BOOTSTRAP</LI>
            <LI>JS</LI>
            <li>REACT JS</li>
        </ul>
        <hr>
        <ul type="circle">
            <li>HTML</li>
            <LI>CSS</LI>
            <LI>BOOTSTRAP</LI>
            <LI>JS</LI>
            <li>REACT JS</li>
        </ul>

        <h1>Example for NESTED HTML Unordered lists</h1>
        <ul>
            <li>this is the list item</li>
            <li>
                <h1>this is the Nested unordered list</h1>
                </li>
                <ul>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    
                    
                    
                    
                </ul>

            </li>

            <li>This is the list item</li>
                <ul>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <ul>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                    <li>this is the unordered list item</li>
                
            </ul>
        </ul>
        

            
        
        

        </ul>

        </ul>

    </body>
</HTML>